README.txt
*~
*.o
*.a
*.lo
*.so
*.la
*.Po
*.Plo
*.bak
bin/*
m4/
config/
autom4te.cache/*
notes/
src/cfits
libtool
*.save
*#
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
src/fft/config/*
src/*/data/*
src/*/.libs/*
*/local/
Makefile.in

aclocal\.m4

ar-lib

compile

config\.guess

config\.log

config\.status

config\.sub

configure

depcomp

install-sh

ltmain\.sh

missing

ylwrap
