[submodule "src/FPAOloopControl"]
	path = src/FPAOloopControl
	url = https://github.com/CACAO-org/FPAOloopControl
    branch = dev
[submodule "src/AOloopControl"]
	path = src/AOloopControl
	url = https://github.com/CACAO-org/AOloopControl
    branch = dev
[submodule "src/AOloopControl_acquireCalib"]
	path = src/AOloopControl_acquireCalib
	url = https://github.com/CACAO-org/AOloopControl_acquireCalib
    branch = dev
[submodule "src/AOloopControl_compTools"]
	path = src/AOloopControl_compTools
	url = https://github.com/CACAO-org/AOloopControl_compTools
    branch = dev
[submodule "src/AOloopControl_computeCalib"]
	path = src/AOloopControl_computeCalib
	url = https://github.com/CACAO-org/AOloopControl_computeCalib
    branch = dev
[submodule "src/AOloopControl_DM"]
	path = src/AOloopControl_DM
	url = https://github.com/CACAO-org/AOloopControl_DM
    branch = dev
[submodule "src/AOloopControl_IOtools"]
	path = src/AOloopControl_IOtools
	url = https://github.com/CACAO-org/AOloopControl_IOtools
    branch = dev
[submodule "src/AOloopControl_perfTest"]
	path = src/AOloopControl_perfTest
	url = https://github.com/CACAO-org/AOloopControl_perfTest
    branch = dev
[submodule "src/AOloopControl_PredictiveControl"]
	path = src/AOloopControl_PredictiveControl
	url = https://github.com/CACAO-org/AOloopControl_PredictiveControl
    branch = dev
